<template>
  <div class="NoteApp">
    <h1 id="NoteApp">{{ msg }}</h1>
    <input
      type="textbox"
      id="textBox"
      placeholder="Type your notes"
      v-model="note"
    />
    <br />
    <button id="btnAddNote" @click="addNote">Add Note</button>
    <ul id="lstNote" class="lstNote">
      <li v-for="note in notes" :key="note.note">
        {{ note }}
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "NoteApp",
  props: {
    msg: String,
  },
  data() {
    return {
      notes: [],
      note: "",
    };
  },
  async created() {},
  methods: {
    async addNote() {
      console.log(this.note);
      this.notes.push(this.note);
      this.note = "";
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
